.display-none {
  display: none;
}

.airData,
.airDataWrapper {
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  position: relative;
  margin: auto auto;
  padding-bottom: 24px;
}

@media screen and (min-width: 992px) {
  .airData,
  .airDataWrapper {
    width: 40%;
    height: calc(100vh - 56px - 40px);
    max-height: 776px;
    min-height: 400px;
  }
}

.airDataWrapper {
  display: flex;
  flex-direction: column;
}

.airData__Title {
  height: 32px;
  /* position: absolute; */
  /* top: 80px;
  left: 16px;
  right: 16px; */
  margin-top: 80px;
  color: var(--color-zinc-700);
}

.airData__search {
  /* position: absolute; */
  width: 100%;
  height: 76px;
  /* top: 136px;
  left: 16px; */
  margin-top: 24px;
  display: flex;
  flex-direction: column; /* 垂直排列元素 */
  justify-content: space-between; /* 讓第一個元素靠上，最後一個靠下 */
}

.airDtat__search__title {
  color: var(--color-zinc-700);
}

.airData__search__countySelect {
  appearance: none; /* 隱藏原生箭頭 */
  -webkit-appearance: none; /* 針對 Safari */
  -moz-appearance: none; /* 針對 Firefox */
  background: url(../image/down-arrow.png) no-repeat right 12px center;
  background-size: 16px 9px;
  width: 100%;
  max-width: 320px;
  height: 36px;
  max-height: 150px;
  border-radius: 12px;
  padding: 0px 12px;
  box-sizing: border-box;
  background-color: var(--color-white-100);
  border: 1px solid var(--color-zinc-400);
  display: flex;
  align-items: center;
}

.airData__search__countySelect option {
  background-color: var(--color-white-900);
  color: var(--color-zinc-700);
}

.airData__search__countySelect option:hover {
  background-color: var(--color-zinc900-5);
  color: var(--color-zinc-700);
}

.airData__station {
  /* position: absolute; */
  /* top: 224px;
  left: 16px; */
  width: 100%;
  max-width: 320px;
  height: 300px;
  max-height: 300px;
  margin-top: 12px;
  padding-top: 24px;
  box-sizing: border-box;
  gap: 12px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-zinc-400);
  overflow-y: auto;
}

.airData__station__btn {
  width: 100%;
  height: 36px;
  min-width: 80px;
  min-height: 36px;
  border-radius: 12px;
  border: 1px solid var(--color-primary-500);
  background-color: var(--color-primary-500);
  color: var(--color-white-100);
  cursor: pointer;
}
.airData__station__btn:hover {
  border: 1px solid var(--color-primary-600);
  background-color: var(--color-primary-600);
}
.airData__station__btn:active {
  border: 1px solid var(--color-primary-800);
  background-color: var(--color-primary-800);
}

.airData__stationDataHead {
  width: 100%;
  /* height: 116px; */
  border-radius: 24px 24px 0 0;
  padding: 12px 24px;
  box-sizing: border-box;
}

/* 根據分數顯示背景顏色 */
.backgroundColor--lightGreen {
  background-color: var(--color-primary-400);
}
.backgroundColor--darkGreen {
  background-color: var(--color-primary-600);
}
.backgroundColor--lightYellow {
  background-color: var(--color-yellow-400);
}
.backgroundColor--darkYellow {
  background-color: var(--color-yellow-600);
}
.backgroundColor--lightRed {
  background-color: var(--color-red-400);
}
.backgroundColor--darkRed {
  background-color: var(--color-red-600);
}

/* 根據分數顯示顏色 */
.color--lightGreen {
  color: var(--color-primary-400);
}
.color--darkGreen {
  color: var(--color-primary-600);
}
.color--lightYellow {
  color: var(--color-yellow-400);
}
.color--darkYellow {
  color: var(--color-yellow-600);
}
.color--lightRed {
  color: var(--color-red-400);
}
.color--darkRed {
  color: var(--color-red-600);
}

.airData__stationDataHead__summary {
  /* width: 352px; */
  /* height: 76px; */
  color: var(--color-white-100);
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 12px 12px 12px 0;
}

/* .stationDataHead__summary__title{
    width: 168px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 0;
    color: var(--color-white-100);
} */

.stationDataHead__summary__status {
  /* width: 176px; */
  /* height: 64px; */
  /* position: absolute; */
  /* right: 0; */
  /* top:12px; */
  max-width: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.summary__status__img {
  height: 60px;
  /* position: absolute; */
  /* top: 5.33px; */
  /* left: 31.1px; */
}

.summary__status__AQI {
  /* width: 64px; */
  /* height: 48px; */
  /* position: absolute; */
  /* top:8px; */
  /* right: 24px; */
  color: var(--color-white-100);
  padding: 4px 8px;
}

.status__AQI__score {
  text-align: center;
}

.status__AQI__status {
  text-align: center;
}

.airData__stationDataHead__time {
  color: var(--color-zinc-100);
}

.airData__stationDataHead__cross {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9.5px;
  top: 10.5px;
  cursor: pointer;
}

/* 空污資訊部分 */
.airData__content {
  width: 100%;
  background-color: var(--color-white-100);
  overflow-y: scroll;
  flex: 1; /* 自適應 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airData__content__item--even {
  width: 100%;
  height: 96px;
  min-height: 96px;
  display: flex;
  align-items: center;
  background-color: var(--color-zinc-50);
  border-bottom: 1px solid var(--color-zinc-200);
}

.airData__content__item--odd {
  width: 100%;
  height: 96px;
  min-height: 96px;
  display: flex;
  align-items: center;
  background-color: var(--color-white-100);
  border-bottom: 1px solid var(--color-zinc-200);
}

.item__title {
  width: 80px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-zinc-700);
  /* background-color: var(--color-zinc-200); */
  margin-left: 4px;
  min-width: 80px;
  margin-right: 4px;
}

.item__title__EngTitle {
  text-align: center;
  color: var(--color-zinc-700);
}

.item__title__ChiTitle {
  text-align: center;
  color: var(--color-zinc-700);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__data {
  /* width: 290px; */
  flex: 1;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.item__data__row {
  /* width: 100%; */
  flex: 1;
  height: 32px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__data__hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-zinc-400);
  /* border: 1px solid var(--color-zinc-400); */
}

.row__title {
  /* width: 178px; */
  flex: 1;
  text-align: center;
  color: var(--color-zinc-700);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 340px) {
  .item__title__EngTitle {
    font-size: 1.125rem;
  }

  .item__title__ChiTitle {
    font-size: 1rem;
  }

  .row__title {
    font-size: 0.75rem;
  }
  .row__score {
    font-size: 1.125rem;
  }
}

.row__score {
  width: 64px;
  text-align: right;
  /* color: var(--color-primary-500); */
}

.row__unit {
  width: 50px;
  height: 20px;
  margin-left: 6px;
  color: var(--color-zinc-700);
}

/* Discord按鈕部分 */
.airData__discord {
  width: 100%;
  height: 60px;
  background-color: var(--color-white-100);
  border-radius: 0 0 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
}

.airData__discord__btn {
  /* width: 352px; */
  width: 100%;
  height: 36px;
  border-radius: 12px;
  color: var(--color-white-100);
  /* background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-500); */
  cursor: pointer;
  position: relative;
}
/* discord按鈕背景顏色 */
.airData__discord__btn--lightGreen {
  background-color: var(--color-primary-400);
  border: 1px solid var(--color-primary-400);
}
.airData__discord__btn--lightGreen:hover {
  background-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
}
.airData__discord__btn--lightGreen:active {
  background-color: var(--color-primary-800);
  border: 1px solid var(--color-primary-800);
}

.airData__discord__btn--darkGreen {
  background-color: var(--color-primary-600);
  border: 1px solid var(--color-primary-600);
}
.airData__discord__btn--darkGreen:hover {
  background-color: var(--color-primary-800);
  border: 1px solid var(--color-primary-800);
}
.airData__discord__btn--darkGreen:active {
  background-color: #046b6d;
  border: 1px solid #046b6d;
}

.airData__discord__btn--lightYellow {
  background-color: var(--color-yellow-400);
  border: 1px solid var(--color-yellow-400);
}
.airData__discord__btn--lightYellow:hover {
  background-color: var(--color-yellow-500);
  border: 1px solid var(--color-yellow-500);
}
.airData__discord__btn--lightYellow:active {
  background-color: var(--color-yellow-800);
  border: 1px solid var(--color-yellow-800);
}

.airData__discord__btn--darkYellow {
  background-color: var(--color-yellow-600);
  border: 1px solid var(--color-yellow-600);
}
.airData__discord__btn--darkYellow:hover {
  background-color: var(--color-yellow-800);
  border: 1px solid var(--color-yellow-800);
}
.airData__discord__btn--darkYellow:active {
  background-color: #a66626;
  border: 1px solid #a66626;
}

.airData__discord__btn--lightRed {
  background-color: var(--color-red-400);
  border: 1px solid var(--color-red-400);
}
.airData__discord__btn--lightRed:hover {
  background-color: var(--color-red-500);
  border: 1px solid var(--color-red-500);
}
.airData__discord__btn--lightRed:active {
  background-color: var(--color-red-800);
  border: 1px solid var(--color-red-800);
}

.airData__discord__btn--darkRed {
  background-color: var(--color-red-600);
  border: 1px solid var(--color-red-600);
}
.airData__discord__btn--darkRed:hover {
  background-color: var(--color-red-800);
  border: 1px solid var(--color-red-800);
}
.airData__discord__btn--darkRed:active {
  background-color: #9f4034;
  border: 1px solid #9f4034;
}

/* .airData__discord__btn:hover{
    background-color: var(--color-primary-600);
    border: 1px solid var(--color-primary-600);
}

.airData__discord__btn:active{
    background-color: var(--color-primary-800);
    border: 1px solid var(--color-primary-800);
} */

.airData__discord__img {
  width: 24px;
  height: 18.58px;
  position: absolute;
  top: 8.67px;
  left: 16px;
}
